<div
  class="flex flex-col gap-7 items-center justify-center min-h-[calc(100vh-210px)]"
>
  <div
    *ngIf="errorMessage"
    class="bg-red-300 p-5 border rounded-2xl border-red-300"
  >
    <h1 class="text-red-900">
      {{ errorMessage }}
    </h1>
  </div>
  <div class="bg-white p-8 rounded-2xl shadow-2xl w-full max-w-sm">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-gray-700 mb-1" for="email">Email</label>
        <input
          type="email"
          name="email"
          formControlName="email"
          id="email"
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-gray-400"
          placeholder="Enter your email"
        />

        <div *ngIf="signInForm.get('email')?.errors?.['required'] && submitted">
          <p class="text-red-500">Email is required.</p>
        </div>
      </div>

      <div class="mb-4 relative">
        <label class="block text-gray-700 mb-1" for="password">Password</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          formControlName="password"
          id="password"
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-gray-400 pr-10"
          placeholder="Enter your password"
          required
        />
        <button
          type="button"
          (click)="showPassword = !showPassword"
          class="absolute right-3 top-9 text-gray-500 hover:text-gray-700 focus:outline-none"
          tabindex="-1"
        >
          <svg
            *ngIf="!showPassword"
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
            />
          </svg>

          <svg
            *ngIf="showPassword"
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a10.052 10.052 0 012.158-3.328M15 12a3 3 0 01-3 3m0 0a3 3 0 01-3-3m6 0a3 3 0 00-3-3m0 0a3 3 0 00-3 3M3 3l18 18"
            />
          </svg>
        </button>

        <div
          *ngIf="signInForm.get('password')?.errors?.['required'] && submitted"
        >
          <p class="text-red-500">Password is required.</p>
        </div>
      </div>

      <div class="flex justify-between items-center mb-6">
        <a
          routerLink="/forgot-password"
          class="text-sm text-cyan-500 hover:underline"
          >Forgot Password?</a
        >
      </div>

      <button
        type="submit"
        class="w-full bg-cyan-500 text-white py-2 rounded-md hover:bg-cyan-700 transition disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Login
      </button>
    </form>

    <div class="mt-6 text-center">
      <p class="text-sm text-gray-600">
        Don't have an account?
        <a
          routerLink="/signUp"
          class="text-cyan-500 hover:underline font-medium"
        >
          Register</a
        >
      </p>
    </div>
  </div>
</div>
