<header class="bg-cyan-500 sticky top-0 text-white z-50 shadow-md h-[130px]">
  <div
    class="max-w-7xl mx-auto px-4 py-4 h-full flex justify-between items-center"
  >
    <a class="text-2xl font-bold" routerLink="/">Angular Demo</a>
    <div class="flex flex-col items-center">
      <div class="flex flex-col gap-2 cursor-pointer" *ngIf="!currentUser">
        <h1>Don't have an account? <a routerLink="/signUp">Sign Up</a></h1>
        <h1>Already have an account? <a routerLink="/signIn"> Sign In</a></h1>
      </div>
      <div class="" *ngIf="currentUser">
        <h1>Welcome, {{ currentUser[0].name }}</h1>
        <a class="cursor-pointer" (click)="onLogOut()">Sign out</a>
      </div>
      <!-- <a routerLink="profile">
        <img src="profileLogo.svg" alt="Logo" class="h-12 w-auto" />
      </a>

      <span>Drashti Borad</span>
      <a routerLink="/signOut">Sign out </a>
      <a routerLink="/signIn">Sign In</a>
      <a routerLink="/signUp">Sign Up</a> -->
    </div>
  </div>
</header>
