<div class="min-h-[calc(100vh-210px)] flex items-center">
  <div
    class="loader relative w-[8vmax] h-[8vmax] border-r-4 border-blue-400 rounded-full animate-spin-right"
  >
    <span
      class="inner1 absolute w-[6vmax] h-[6vmax] border-l-4 border-blue-400 rounded-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 animate-spin-left"
    ></span>
    <span
      class="inner2 absolute w-[4vmax] h-[4vmax] border-r-2 border-blue-400 rounded-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
    ></span>
  </div>
</div>
